.b {
    font-weight: bold;
}

.lh-title {
    line-height: 1.25;
}

.pa4 {
    padding: 2rem;
}

.ml0 {
    margin-left: 0;
}

.mt0 {
    margin-top: 0;
}

.mt2 {
    margin-top: .5rem;
}

.f6 {
    font-size: .875rem;
}